{% extends 'base.html' %}
{% load static %}
{% block title %}
  问题列表 | {{ block.super }}
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="card my-4" style="width: 100%">
        <h5 class="card-header">按话题分类
          <a href="{% url 'quora:ask_question' %}" class="btn-sm btn-primary pull-right">
            <i class="fa fa-pencil" aria-hidden="true"></i> 提问
          </a>
        </h5>
        <div class="card-body">
          {% for tag, count in popular_tags %}
            <a href="#"><span class="badge badge-warning">{{ tag }}({{ count }} )</span></a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if active == 'all' %} active{% endif %}" href="{% url 'quora:all_questions' %}">
            全部问答
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if active == 'uncorrect_answered' %} active{% endif %}"
             href="{% url 'quora:uncorrect_answered_questions' %}">
            等待回答
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if active == 'correct_answered' %} active{% endif %}"
             href="{% url 'quora:correct_answered_questions' %}">
            已有回答
          </a>
        </li>
      </ul>
        {% for item in question_list %}
            {% include 'quora/question_single.html' with question=item %}
        {% empty %}
          <h4 class="no-data w-100 p-2">没有要显示的问题</h4>
        {% endfor %}
    </div>
  </div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block js %}
{% endblock %}
