{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
  提问题 | {{ block.super }}
{% endblock %}
{% block css %}
  {{ form.media }}
{% endblock %}
{% block content %}
  <div class="container">
    <form action="{% url 'quora:ask_question' %}" enctype="multipart/form-data" id="question-form" method="post" role="form">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary publish" id="publish">提交</button>
        <a href="{% url 'quora:all_questions' %}" class="btn btn-light" style="float: right">取消</a>
      </div>
    </form>
  </div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block js %}
{% endblock %}
